<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
	<servlet>
		<servlet-name>GetWebapp</servlet-name>
		<servlet-class>com.vmware.perftest.loadbalancer.GetWebapp</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>GetWebapp</servlet-name>
		<url-pattern>/GetWebapp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetCachedWebapp</servlet-name>
		<servlet-class>com.vmware.perftest.loadbalancer.GetCachedWebapp</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>GetCachedWebapp</servlet-name>
		<url-pattern>/GetCachedWebapp</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>GetService</servlet-name>
		<servlet-class>com.vmware.perftest.loadbalancer.GetService</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>GetService</servlet-name>
		<url-pattern>/GetService</url-pattern>
	</servlet-mapping>

</web-app>

